[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "==6.0"
pytest = "*"
nest-asyncio = "*"

[dev-packages]
pre-commit = "*"
pytest-cov = "*"
pytest-yaml = {editable = true, path = "."}

[requires]
python_version = "3.11"
